.contact-us {
  padding-bottom: 60px;
}

.contact-us__section {
  display: flex;
  justify-content: space-between;
}

.contact-us__upper-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;

  color: #C29974;
}

.contact-us__text-wrapper {
  width: 380px;
}

.modal-window {
  margin: 0;
}

.modal-window__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #1E0606;
}