body { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;

  color: #1E0606;
}

a { 
  text-decoration: none;
  color: #1E0606;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

/* titles */

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.block-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  margin: 0;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

/* header */

.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 100px;
  min-width: 100px;
  min-height: 50px;
  height: 50px;
}

.header-nav__link-list {
  display: flex;
  margin-left: 60px;
  align-items: center;
}

.header-nav__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-link {
  text-shadow: 1px 0 0 #1E0606;
  margin-left: 23.45px;
  text-transform: uppercase;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;

  margin-right: 20px;

  color: #1E0606;
}

/* footer */
footer {
  background: #434343;
  color: #FFFFFF;
}

.footer-wrapper {
  display: flex;
}

.footer-section {
  flex: 0 1 33.333%;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.footer-title {
  
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  
  color: #AAAAAA;
  
  margin-bottom: 52px;
  position: relative;
}

.footer-title::before {
  content: "";
  height: 1px;
  width: 380px;
  top: 45px;
  left: 0;


  background-color: #666666;
  position: absolute;
}

.footer-title::after {
  content: "";
  height: 1px;
  width: 380px;
  top: 310px;
  left: 0;


  background-color: #666666;
  position: absolute;
}

.social-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 172px;
}

.social-link {
  margin-right: 10px;
}

.footer-links {
  display: inline-block;
  margin-bottom: 15px;

  color: #FFFFFF;
}

.navigation-list,
.customer-info-list {
  margin-bottom: 52px;
}

.button {
  display: inline-flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #1E0606;
  padding: 9px 22px;
}

.footer-form {
  display: inline-block;
  width: 380px;
  margin-bottom: 25px;
}

.footer-input {
  display: inline-block;
  outline: none;
  background-color: #666666;;
  border: none;
  height: 40px;
  width: 298px;

}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;

  color: #EBEBEB;
}



.design-company,
.design-company a {
  color: #A2A2A2;;
}

/* breadcrumbs */

.breadcrumbs {
  display:  block;
}

.breadcrumb {
font-family: Crimson Text;
font-style: italic;
font-size: 20px;
line-height: 25px;

color: #1E0606;
opacity: 0.5;
}

.breadcrumbs-link {
  font-family: 'Crimson Text';
  font-style: italic;
  font-size: 20px;
  line-height: 25px;

  color: #1E0606;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: ">";
  margin: 0 20px;
  color: #1E0606;
}

/* hover */

.nav-link:hover {
  text-shadow: 1px 0 0 #1E0606
}

.button:hover {
  background-color: #C29974;;
}

/* active */

.nav-link:active {
  font-weight: bold;
}

.contact-link:hover {
  font-weight: 400;
}

.button:active {
  background-color: #CFAF91;;
}

/* disabled */

.button:disabled {
  color: #E1E1E1;
  background-color: #C1C1C1;;
}

/* form */

.form {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  background-color: #E5EAF8;
  
  color: #1E0606;
}