.blog-post__date {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;

  color: #818181;
}

.blog {
  padding-bottom: 60px;
}

.blog-post__title {
  font-family: '0Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px
}

.blog-post__decription {
  font-size: 18px;
  line-height: 25px;
}

.blog-articles {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px;
}

.blog-post__card {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 20px;

}